files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":

    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "region": "eu-north-1",
          "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
          "debug": false 
        },
        "metrics": {
          "append_dimensions": {
            "InstanceId": "${aws:InstanceId}"
          },
          "metrics_collected": {
            "mem": {
              "measurement": [
                { "name": "mem_used_percent", "rename": "MemoryUtilizationPercent" },
                { "name": "mem_available", "rename": "AvailableMemory"},
                { "name": "mem_buffered", "rename": "BufferMemory"},
                { "name": "mem_cached", "rename": "CacheMemory"},
                { "name": "mem_free", "rename": "FreeMemory"},
                { "name": "mem_total", "rename": "TotalMemory"},
                { "name": "mem_active", "rename": "ActiveMemory"},
                { "name": "mem_available_percent", "rename":"MemoryAvailablePercent"},
                { "name": "mem_inactive", "rename":"InactiveMemory"},
                { "name": "mem_used", "rename":"MemoryUtilization"}	
              ]
            }
          }
        }
      }

